@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Manrope&family=Noto+Sans+KR:wght@400;500&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

address,
em,
i {
  font-style: normal;
}

button {
  background: none;
  border: none;
}

img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

.en {
  font-family: "kanit", sans-serif;
  font-weight: 600;
}

.en2 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

body {
  font-family: "MonumentGrotesk", sans-serif;
  font-size: 0.85vw;
  font-weight: 400;
}

.wrap {
  position: relative;
  overflow: hidden;
  background-color: #111606;
  margin: 0 auto;
}
.wrap img {
  filter: brightness(50%);
}
.wrap .visual {
  position: relative;
  overflow: hidden;
}
.wrap .visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrap .visual h1 {
  opacity: 0;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 9vw;
  line-height: 1;
  color: #fff;
  width: 60%;
  font-weight: 400;
}
.wrap .visual h1 span {
  display: block;
  color: transparent;
  letter-spacing: -2px;
  font-size: 5vw;
  -webkit-text-stroke: 2px #b1dd40;
}
.wrap section {
  padding: 50px 0;
}
.wrap section .inner {
  width: 80%;
  margin: 0 auto;
}
.wrap .info .inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap .info .inner .img-box {
  width: 70%;
}
.wrap .info .inner .img-box img {
  width: 100%;
}
.wrap .info .inner .text-box {
  width: 25%;
}
.wrap .info .inner .text-box span {
  display: block;
  color: #fff;
  line-height: 1.6;
}
.wrap .info .inner .text-box span.title {
  font-weight: 500;
  color: #b1dd40;
  text-transform: uppercase;
}
.wrap .info .inner .text-box span.text {
  margin-bottom: 30px;
}
.wrap .concept {
  padding-bottom: 200px;
}
.wrap .concept .inner ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap .concept .inner ul li {
  width: 28%;
  margin-top: 200px;
}
.wrap .concept .inner ul li:nth-child(2) {
  margin-top: 0px;
}
.wrap .concept .inner ul li img {
  width: 100%;
}
.wrap .concept .inner .size {
  margin-top: 200px;
}
.wrap .concept .inner .size li:nth-child(1) {
  width: 32%;
  margin-left: 20%;
}
.wrap .concept .inner .size li:nth-child(2) {
  width: 40%;
  margin-top: -50px;
}
.wrap .concept .inner .size li:nth-child(3) {
  width: 65%;
  margin-left: 10%;
}
.wrap .concept .inner .text-box {
  position: relative;
  padding-top: 10%;
}
.wrap .concept .inner .text-box .title {
  font-size: 8vw;
  -webkit-text-stroke: #b1dd40 2px;
  color: transparent;
  position: absolute;
  top: -30%;
  left: 10%;
}
.wrap .concept .inner .text-box span {
  display: block;
  line-height: 1.6;
  font-size: 1.5vw;
  color: #fff;
}
.wrap .concept .inner .text-box.size .title {
  font-size: 4.5vw;
  line-height: 1;
  left: 0;
}
.wrap .concept .inner .text-box.size .title b {
  font-weight: 400;
  color: #fff;
  -webkit-text-stroke: 0;
  display: block;
}
.wrap .img-box {
  position: relative;
  overflow: hidden;
  transition: all 0.4s;
}
.wrap .img-box::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b1dd40;
  transition: all 0.8s;
  transition-delay: 0.4s;
  z-index: 2;
}
.wrap .img-box.active::before {
  height: 0%;
}
.wrap .img-box::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111606;
  transition: all 0.8s;
  z-index: 3;
}
.wrap .img-box.active::after {
  height: 0%;
}
.wrap .text-box span {
  margin: 50px 0;
  opacity: 0;
  transition: all 0.8s;
}
.wrap .text-box.active span {
  margin: 0;
  opacity: 1;
}