@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Manrope&family=Noto+Sans+KR:wght@400;500&display=swap');
@import 'reset';

* {
  box-sizing: border-box;
}

.en {
  font-family: 'kanit', sans-serif;
  font-weight: 600;
}
.en2 {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'MonumentGrotesk', sans-serif;
  font-size: 0.85vw;
  font-weight: 400;
}

.wrap {
  position: relative;
  overflow: hidden;
  background-color: #111606;
  margin: 0 auto;

  img {
    filter: brightness(50%);
  }

  .visual {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    h1 {
      opacity: 0;
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 9vw;
      line-height: 1;
      color: #fff;
      width: 60%;
      font-weight: 400;
      span {
        display: block;
        color: transparent;
        letter-spacing: -2px;
        font-size: 5vw;
        -webkit-text-stroke: 2px #b1dd40;
      }
    }
  }
}
